<section class="banner">
    <img class="banner__img" src="/src/assets/utn_256.png">
    <div class="banner__info">
        <h1 class="banner__title">Esta es mi infomacion</h1>
        <p class="banner__p"> 
            <form class="my-form">
                <div class="container">
                  
                  <ul>
                    <li>
                     
                    </li>
                    <li>
                      <div class="grid grid-2">
                        <input type="text" placeholder="Nombre Luis Mario">  
                        
                      </div>
                    
                      <div class="grid grid-2">
                        <input type="email" placeholder="Email: lluis.luna.98@gmail.com" >  
                        
                      </div>
                      <div class="grid grid-2">
                        <input type="email" placeholder="celular: 5581882532" >  
                        
                      </div>
                    </li>    
                    
                      
                    <li>
                     
                    </li>    
                  </ul>
                </div>
              </form>
              <footer>
                
              </footer>
    </div>
</section>